##################
# Codeowner are not required for review. The required reviewers are located
# there : .github/required-review.yaml
#
# Rather, being a code owner is merely an expression of interest in what goes
# on in specific parts of the code base.
#
# Code owners receive github notifications for PRs that touch the areas they
# own.
##################

@hasura/docs
