.picker-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 12px;
  border: solid 2px #80a3ff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: var(--ifm-global-shadow-md);
  transition: all 0.3s ease;
}

.picker-wrapper.minimized {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px; /* Adjusted padding for minimized state */
  height: 60px; /* Adjust this value as needed */
  background-color: #fff;
  z-index: 1000;
  transform: scale(0.8); /* Scale down */
  box-shadow: var(--ifm-global-shadow-md); /* Maintain shadow */
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center; /* Center items vertically in minimized state */
}

.data-source {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  width: auto;
  align-items: center;
  text-decoration: none !important;
}

.data-source p {
  font-size: 12px;
  margin-bottom: 0px;
}

.data-source.selected {
  border: 2px solid #1e56e3;
  border-radius: 8px;
}

.data-source .image-container {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.data-source img {
  max-width: 50px;
  height: auto;
  border-radius: 0;
}

.data-source svg {
  width: 50px;
  height: 50px;
}

.data-source button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.data-source button.selected {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
}

.data-source button:hover {
  background-color: #0056b3;
  color: white;
}

.picker-wrapper.minimized .image-container {
  height: 30px;
  width: 30px; /* Adjusted size for minimized state */
  margin-bottom: 0; /* Remove bottom margin in minimized state */
}

.picker-wrapper.minimized .data-source p {
  display: none; /* Hide text when minimized */
}

.picker-wrapper.minimized .button-wrapper {
  justify-content: space-between;
}

.picker-wrapper.minimized .data-source img,
.picker-wrapper.minimized .data-source svg {
  max-width: 30px; /* Adjusted size for minimized state */
  height: auto;
}
