.tableOfContents {
  height: calc(100vh - var(--ifm-navbar-height) + 80px);
  position: sticky;
  /* top: calc(var(--ifm-navbar-height)); */
  top: 0;
  border-left: 1px solid var(--primary-neutral-200);
  overflow-y: auto;
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}

[data-theme='dark'] .tableOfContents {
  border-left: 1px solid var(--header-border-bottom);
}
