.tableOfContents {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  height: calc(100vh - var(--ifm-navbar-height) + 80px);
  top: calc(var(--ifm-navbar-height));
  border-left: 1px solid var(--primary-neutral-200);
  overflow-y: auto;
  top: calc(var(--ifm-navbar-height) + 1rem);
}

.hidden {
  color: red !important;
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
