.picker-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 12px;
  border: solid 1px black;
  padding: 12px;
  border-radius: 12px;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.data-source {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.data-source.selected {
  border: 2px solid #0056b3;
}

.data-source img {
  max-width: 50px;
  height: auto;
}

.data-source button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.data-source button.selected {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
}

.data-source button:hover {
  background-color: #0056b3;
  color: white;
}
