.step_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 32px;
  margin-top: 50px;
  margin-bottom: 50px;

  details {
    padding: 16px;
    background: var(--ifm-code-background);
    border-radius: 6px;
  }
}

.code_heading {
  display: flex;
  align-items: center;
  font-weight: 500;

  h2 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  &:before {
    content: attr(data-step);
    display: grid;
    place-items: center center;
    color: var(--ifm-code-background);
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    background: var(--ifm-heading-color);
    margin-right: 8px;
  }
}

.description {
  p {
    font-size: 1rem;
    padding-left: 42px;
    margin-top: 8px;
    line-height: 1.8;

    pre {
      display: inline-block;
    }
  }
  li {
    margin-bottom: 8px;
    margin-left: 42px;
  }
}
