.step_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.step_container details {
  padding: 16px;
  background: var(--ifm-code-background);
  border-radius: 6px;
}

.heading {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.heading:before {
  content: attr(data-step);
  display: grid;
  place-items: center center;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  background: var(--secondary-blue-400);
  margin-right: 8px;
}

.heading h2 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.description p {
  font-size: 1rem;
  padding-left: 42px;
  margin-top: 8px;
  line-height: 1.8;
}

.description p pre {
  display: inline-block;
}

.description li {
  margin-bottom: 8px;
  margin-left: 42px;
}
