.graphiql-session-header {
    display: none !important;
}

.graphiql-sidebar {
    display: none !important;
}

.graphiql-session {
    padding-top: 8px !important;
}

.graphiql-execute-button {
    display: none !important;
}