/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-navbar-height: 5.75rem;
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --base-neutral-0: #FFFFFF;
  --primary-neutral-100: #F3F4F6;
  --primary-neutral-200: #E5E7EB;
  --neutral-mid-500: #6C737F;
  --primary-neutral-600: #4D5761;
  --header-border-bottom: #D2D6DB;
  --neutral-mid-700: #384250;
  --primary-neutral-800: #1F2A37;
  --secondary-blue-400: #80A3FF;
  --secondary-blue-500: #3970FD;
  --secondary-blue-900: #001C63;
  --primary-blue-600: #1E56E3;
  --main-bg-color: #FFFFFF;
  --sidebar-bg-color: #F3F4F6;
  --next-prev-bg-color: #FFFFFF;
  --next-prev-border-color: #D2D6DB;
  --search-dark-bg-color: #1F2A37;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --main-bg-color: #111927;
  --sidebar-bg-color: #18222F;
  --primary-neutral-800: #E5E7EB;
  --secondary-blue-900: #C6D6FF;
  --next-prev-bg-color: #18222F;
  --next-prev-border-color: #293441;
  --header-border-bottom: #1F2A37;
}

h1 {
  @apply text-4xl font-bold;
  font-size: 2.25rem;
}

h2 {
  @apply font-bold;
  font-size: 2rem;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold mb-4;
}

h1, h2, h3, h4 {
  color: var(--secondary-blue-900);
}

p {
  @apply mb-5;
  color: var(--primary-neutral-800);
  font-size: 0.9375rem;
}
.alert {
  @apply !mb-5;
}
.alert div:first-child {
  @apply mb-3;
}
a {
  @apply text-blue-600;
}

a:hover {
  @apply text-blue-800;
}

ul, ol {
  @apply ps-5 list-disc mb-5;
}
ul li, ol li {
  @apply list-item;
}

/* Sidebar Icon */
.menu__list .menu__list-item .menu__link div {
  @apply flex items-center;
}
.menu__list .menu__list-item .menu__link div svg {
  @apply mr-2;
}
.menu__list .menu__list-item .menu__link div svg path {
  stroke: var(--primary-neutral-600);
}
.connectors-icon .menu__list-item-collapsible .menu__link svg path {
  stroke-width: 0;
}
/* Sidebar Icon */

/* Header */
.navbar {
  background-color: var(--sidebar-bg-color);
  padding: 24px 48px;
  height: auto;
}
.navbar__brand {
  margin-right: 0;
}
.navbar__logo {
  margin-right: .25rem;
}
.navbar__logo img {
  width: 107px;
}
.navbar__item.dropdown.dropdown--hoverable {
  @apply rounded-full;
  background-color: var(--base-neutral-0);
  padding: 4px 8px 4px 16px;
  box-shadow: 0px 1px 2px 0px rgba(28, 38, 63, 0.06), 0px 1px 3px 0px rgba(28, 38, 63, 0.10);
}
.navbar__item.dropdown.dropdown--hoverable:hover .navbar__link {
  color: var(--neutral-mid-700);
}
.navbar__item.dropdown.dropdown--hoverable .navbar__link {
  color: var(--neutral-mid-500);
  @apply flex items-center;
}

.dropdown > .navbar__link::after {
  background-image:url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4,6L8,10L12,6" stroke="gray" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  border: 0;
  transform: none;
}
.dropdown__menu li .dropdown__link {
  @apply flex items-center;
  color: var(--neutral-mid-500);
}
.dropdown__menu li .dropdown__link--active {
  color: var(--primary-blue-600);
}
.dropdown__link--active, .dropdown__link--active:hover {
  color: var(--primary-blue-600);
}
.dropdown__menu li .dropdown__link svg {
  @apply ml-2;
}
.DocSearch.DocSearch-Button {
  max-width: 370px;
  width: 100%;
  padding: 8px 20px 8px 16px;
  box-shadow: 0px 1px 2px 0px rgba(28, 38, 63, 0.06), 0px 1px 3px 0px rgba(28, 38, 63, 0.10);
  background-color: var(--base-neutral-0);
  border: 1px solid transparent;
}
.DocSearch.DocSearch-Button:hover .DocSearch-Button-Placeholder {
  color: var(--neutral-mid-700);
}
div:has(>.DocSearch.DocSearch-Button) {
  flex: 1;
}
.DocSearch-Button:active, .DocSearch-Button:focus, .DocSearch-Button:hover {
  border: 1px solid var(--primary-blue-600);
  box-shadow: 0px 1px 2px 0px rgba(28, 38, 63, 0.06), 0px 1px 3px 0px rgba(28, 38, 63, 0.10) !important;
}
.DocSearch-Button-Keys {
  min-width: auto !important;
}
.DocSearch-Button-Key {
  padding-bottom: 0 !important;
  top: 0 !important;
}
.DocSearch-Button-Keys .DocSearch-Button-Key:last-child {
  margin-right: 0;
}
.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--neutral-mid-500) !important;
}
.navbar__items {
  margin-right: 0;
  flex: none;
}
.navbar__items.navbar__items--right .navbar__link {
  color: var(--primary-neutral-800);
  @apply px-6;
}
.navbar__items .navbar__item {
  font-size: 0.875rem;
}
.navbar__items--right > :last-child {
  margin-left: 20px;
}
.navbar__items--right .navbar__link:first-child {
  padding-left: 0;
}
.navbar__items--right .navbar__link:last-child {
  background-color: var(--secondary-blue-500);
  border-radius: 48px;
  color: var(--base-neutral-0);
}
.navbar__items--right .navbar__link:last-child:hover {
  background-color: var(--primary-blue-600);
}

/* Header */

/* Breadcrumb */
.breadcrumbs {
  @apply flex items-center mb-4;
}

.theme-doc-version-badge.badge.badge--secondary {
  @apply mb-8 sm:mb-10 md:mb-12 lg:mb-16;
}
.breadcrumbs__item:not(:last-child):after {
  @apply h-3 w-3 bg-no-repeat;
}
.breadcrumbs__item {
  @apply flex items-center
}
.breadcrumbs__item--active .breadcrumbs__link {
  background: none;
  color: var(--primary-neutral-600);
  @apply text-sm;
}

.breadcrumbs .breadcrumbs__item:first-child .breadcrumbs__link {
  background-image:url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66667,14.1667H13.3333M9.18141,2.30333L3.52949,6.69927C3.15168,6.99312,2.96278,7.14005,2.82669,7.32405C2.70614,7.48704,2.61633,7.67065,2.56169,7.86588C2.5,8.08627,2.5,8.32558,2.5,8.80421V14.8333C2.5,15.7667,2.5,16.2335,2.68166,16.59C2.84144,16.9036,3.09641,17.1585,3.41002,17.3183C3.76654,17.5,4.23325,17.5,5.16667,17.5H14.8333C15.7668,17.5,16.2335,17.5,16.59,17.3183C16.9036,17.1585,17.1586,16.9036,17.3183,16.59C17.5,16.2335,17.5,15.7667,17.5,14.8333V8.80421C17.5,8.32558,17.5,8.08627,17.4383,7.86588C17.3837,7.67065,17.2939,7.48704,17.1733,7.32405C17.0372,7.14005,16.8483,6.99312,16.4705,6.69927L10.8186,2.30333C10.5258,2.07562,10.3794,1.96177,10.2178,1.918C10.0752,1.87938,9.92484,1.87938,9.78221,1.918C9.62057,1.96177,9.47418,2.07562,9.18141,2.30333Z" stroke="gray" stroke-width="1.5"></path></svg>');
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.breadcrumbs .breadcrumbs__item:first-child .breadcrumbs__link svg {
  display: none;
}

.breadcrumbs__item:not(:last-child):after {
  background-image:url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5,15L12.5,10L7.5,5" stroke="lightgray" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.breadcrumbs__link {
  padding: 0;
}
.breadcrumbs__link:any-link:hover {
  background: none;
  color: var(--primary-blue-600);
}
/* Breadcrumb */

/* Sidebar UI CSS */
.menu {
  background-color: var(--sidebar-bg-color);
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.menu__link {
  color: var(--primary-neutral-800);
  @apply text-xs uppercase font-bold;
}
.menu__link--sublist-caret:after {
  background-image:url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18,15L12,9L6 15" stroke="gray" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.menu__list-item-collapsible .menu__caret:before {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18,15L12,9L6 15" stroke="gray" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
  background-position: center;
}
.menu__link:hover, .menu__caret:hover, .menu__link--active:not(.menu__link--sublist), .menu__list-item-collapsible--active {
  background-color: transparent;
}
.menu__link--active {
  color: var(--primary-blue-600);
  background-color: transparent;
}
.menu__link--active:hover {
  color: var(--primary-blue-600);
}
.menu__list-item:not(:first-child) {
  @apply mt-0;
}
.menu__list .menu__list {
  @apply mt-0 pl-0;
}
.menu__list .menu__list-item {
  border-bottom: 1px solid var(--next-prev-border-color);
}
.theme-doc-sidebar-item-category .menu__list .menu__list-item {
  border-bottom: 0px;
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-link, .theme-doc-sidebar-menu .theme-doc-sidebar-item-category {
  @apply px-5 py-4;
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-link .menu__link, .theme-doc-sidebar-menu .theme-doc-sidebar-item-category .menu__link {
  @apply p-3;
}

.theme-doc-sidebar-menu .menu__list .menu__list-item {
  @apply px-0 py-0;
}

.theme-doc-sidebar-menu .menu__list {
  @apply pl-3;
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-link:hover, .theme-doc-sidebar-menu .theme-doc-sidebar-item-category:hover {
  background-color: var(--main-bg-color);
}

.menu__list .theme-doc-sidebar-item-category .menu__list .menu__list-item .menu__link {
  @apply text-base font-medium normal-case;
  color: var(--neutral-mid-500);
}
.menu__link:hover, .menu__list-item-collapsible:hover {
  background-color: transparent;
}

.theme-doc-sidebar-menu .theme-doc-sidebar-item-link:has(.menu__link--active) {
  background-color: var(--main-bg-color);
}

.theme-doc-sidebar-menu .menu__list .theme-doc-sidebar-item-link:has(.menu__link--active) {
  background-color: transparent;
}

/* Sidebar UI CSS */

/* Main Container */
.container, .hero {
  background-color: var(--main-bg-color);
}
.container {
  @apply p-0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}
.container>div {
  @apply m-0;
}

.container>div>div:first-child {
  @apply px-20 py-10 !important;
}
.col.col--3 {
  padding-right: 0;
  padding-left: 0;
}

iframe {
  height: 400px;
  width: 100%;
  max-width: 600px;
}

.badge--secondary {
  @apply my-1;
}
.tabs__item:hover {
  background-color: var(--primary-neutral-100);
}
.tabs__item {
  color: var(--primary-neutral-800);
}
.tabs__item--active {
  border-bottom-color: var(--primary-blue-600);
  color: var(--primary-blue-600);
}
.anchor {
  @apply mb-2;
}
.pagination-nav__sublabel {
  display: none;
}
.pagination-nav__link {
  @apply rounded-3xl;
  border: 1px solid var(--next-prev-border-color);
  background-color: var(--next-prev-bg-color);
}
.pagination-nav__link:hover {
  border-color: var(--primary-blue-600);
}
/* Main Container */

/* Table of Content */ 
.table-of-contents.table-of-contents__left-border {
  border-left: 0;
}
.table-of-contents__link {
  color: var(--primary-neutral-800);
}
.table-of-contents__link:hover, .table-of-contents__link:hover code, .table-of-contents__link--active, .table-of-contents__link--active code {
  color: var(--primary-neutral-800);
}
.table-of-contents {
  padding-left: 0;
  padding-top: 1rem;
}
.table-of-contents li {
  @apply my-6 ml-0;
}
.table-of-contents .table-of-contents__link {
  border-left: 0.125rem solid transparent;
  @apply text-sm;
  padding-left: 1.5rem;
}
.table-of-contents .table-of-contents__link--active {
  border-left: 0.125rem solid var(--secondary-blue-400);
  margin-left: 0rem;
  padding-left: 1.5rem;
  @apply font-semibold;
  
}
/* Table of Content */

/* Introduction page */
.front-matter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
}
.video-wrapper .video-aspect-ratio {
  position: relative;
  padding-bottom: 56.2%;
}
.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 48px;
  padding-top: 1rem;
}
.card-wrapper .card {
  background-color: transparent;
  border-radius: 1rem;
  box-shadow: none;
  border: 1px solid #E5E7EB;
  background: #FFF;
  display: grid;
}
.card .card-content-items {
  align-self: flex-start;
}
.card .thumbnail .main-img {
  margin: 0;
  cursor: default;
  box-shadow: none;
  width: 100%;
}
.card .card-content {
  padding: 32px 32px;
  padding-bottom: 0;
}
.card .card-content h4 {
  @apply text-sm uppercase;
  color: var(--primary-neutral-800);
  display: flex;
  align-items: center;
}
.card .card-content h4 {
  margin-bottom: 12px;
}
.card .card-content h4 p {
  margin: 0;
}
.card .card-content h4 svg {
  margin-right: 8px;
}
.card a {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  margin: 32px 32px;
  margin-top: 0;
  align-self: flex-end;
}
.card a svg {
  margin-left: 2px;
  margin-top: 2px;
  transition: all .3s ease-in-out;
}
/* .card .card-content a:hover {
  text-decoration: none;
} */
.card a:hover svg {
  transform: translateX(4px);
}
.card a svg path {
  stroke: var(--primary-blue-600);
}
/* Introduction page */

/* Dark mode theme CSS */
[data-theme='dark'] .menu__link--active {
  color: var(--secondary-blue-400);
}
[data-theme='dark'] .pagination-nav__label {
  color: var(--secondary-blue-400);
}
[data-theme='dark'] .pagination-nav__link:hover {
  border-color: var(--secondary-blue-400);
}

[data-theme='dark'] .table-of-contents__link:hover, [data-theme='dark'] .table-of-contents__link:hover code, [data-theme='dark'] .table-of-contents__link--active, [data-theme='dark'] .table-of-contents__link--active code {
  color: var(--base-neutral-0);
}

[data-theme='dark'] .breadcrumbs .breadcrumbs__item:first-child .breadcrumbs__link {
  background-image:url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.66667,14.1667H13.3333M9.18141,2.30333L3.52949,6.69927C3.15168,6.99312,2.96278,7.14005,2.82669,7.32405C2.70614,7.48704,2.61633,7.67065,2.56169,7.86588C2.5,8.08627,2.5,8.32558,2.5,8.80421V14.8333C2.5,15.7667,2.5,16.2335,2.68166,16.59C2.84144,16.9036,3.09641,17.1585,3.41002,17.3183C3.76654,17.5,4.23325,17.5,5.16667,17.5H14.8333C15.7668,17.5,16.2335,17.5,16.59,17.3183C16.9036,17.1585,17.1586,16.9036,17.3183,16.59C17.5,16.2335,17.5,15.7667,17.5,14.8333V8.80421C17.5,8.32558,17.5,8.08627,17.4383,7.86588C17.3837,7.67065,17.2939,7.48704,17.1733,7.32405C17.0372,7.14005,16.8483,6.99312,16.4705,6.69927L10.8186,2.30333C10.5258,2.07562,10.3794,1.96177,10.2178,1.918C10.0752,1.87938,9.92484,1.87938,9.78221,1.918C9.62057,1.96177,9.47418,2.07562,9.18141,2.30333Z" stroke="cornflowerblue" stroke-width="1.5"></path></svg>');
}
[data-theme='dark'] .breadcrumbs__item:not(:last-child):after {
  background-image:url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5,15L12.5,10L7.5,5" stroke="silver" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
[data-theme='dark'] .breadcrumbs__item--active .breadcrumbs__link {
  color: var(--secondary-blue-400);
}
[data-theme='dark'] .breadcrumbs__link:any-link:hover {  
  color: var(--secondary-blue-400);
}
[data-theme='dark'] .navbar__item.dropdown.dropdown--hoverable {
  background-color: var(--neutral-mid-700);
  box-shadow: none;
}
[data-theme='dark'] .navbar__item.dropdown.dropdown--hoverable .navbar__link {
  color: var(--primary-neutral-200);
}
[data-theme='dark'] .dropdown > .navbar__link::after {
  background-image:url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4,6L8,10L12,6" stroke="lightgray" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
[data-theme='dark'] .DocSearch.DocSearch-Button { 
  background-color: var(--search-dark-bg-color);
  border: 1px solid #333E4B;
}
[data-theme='dark'] .DocSearch.DocSearch-Button:hover .DocSearch-Button-Placeholder {
  color: var(--neutral-mid-500);
}
[data-theme='dark'] .DocSearch.DocSearch-Button:hover .DocSearch-Button-Placeholder {
  color: var(--base-neutral-0);
}

[data-theme='dark'] .DocSearch-Button:active, [data-theme='dark'] .DocSearch-Button:focus, [data-theme='dark'] .DocSearch-Button:hover {
  border: 1px solid var(--base-neutral-0);
}
[data-theme='dark'] .menu__list .menu__list-item .menu__link div svg path {
  stroke: var(--secondary-blue-400);
}
[data-theme='dark'] .connectors-icon .menu__list-item-collapsible .menu__link svg path {
  fill: var(--secondary-blue-400);
}
/* Dark mode theme CSS */


@media(max-width:1150px) {
  .container>div>div:first-child {
    @apply px-10 py-10 !important;
  }
  .front-matter {
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
}
@media(max-width:768px) {
  .container>div>div:first-child {
    @apply px-4 py-4 !important;
  }
}
@media (min-width: 997px) and (max-width: 1024px) {
  .navbar__items.navbar__items--right .navbar__link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 997px) and (max-width: 1327px) { 
  .container>div>div:first-child {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
}
@media (min-width: 1120px) and (max-width: 13750px) {
  .card-wrapper {
    grid-gap: 24px;
  }
}
@media (max-width: 997px) {
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
}
@media(max-width:600px) { 
  .card-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
}