.metadata-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: auto;
  overflow: hidden;
}

.explainer-container {
  flex: 1;
  margin: 0 10px;
  padding: 0 10px;
  max-height: 80vh;
  min-height: 40vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.explainer-container p {
  border-left: solid 5px transparent;
  padding-left: 10px;
  transition: border-left 0.3s ease;
  cursor: pointer;
}

.explainer-container p:hover {
  border-left: solid 5px lightgray;
}

.example-container {
  flex: 1;
  margin: 0 10px;
  --prism-background-color: none !important;
  box-shadow: none !important;
  height: auto;
  max-height: 60vh;
  overflow-x: scroll;
}

.metadata-active {
  border-left: solid 5px gray !important;
}

.metadata-active + p {
  border-left: solid 5px gray !important;
}

@media (max-width: 768px) {
  .example-container {
    display: none;
  }
}
