.metadata-container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  min-height: 80vh;
  overflow: hidden;
}

.explainer-container,
.example-container {
  flex: 1;
  margin: 0 10px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.explainer-container {
  padding: 0 10px;
}

.explainer-container p {
  border-left: solid 5px transparent;
  padding-left: 10px;
  transition: border-left 0.3s ease;
  cursor: pointer;
}

.explainer-container p:hover {
  border-left: solid 5px lightgray;
}

.example-container {
  --prism-background-color: none !important;
  box-shadow: none !important;
}

.metadata-active {
  border-left: solid 5px gray !important;
}

@media (max-width: 768px) {
  .example-container {
    display: none;
  }
}

/* For nerds with screens as tall as them */
@media (min-aspect-ratio: 9/16) {
  .metadata-container {
    height: 40vh;
    min-height: 40vh;
  }
}
