.metadata-container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  min-height: 80vh;
  overflow: hidden;
}

.explainer-container,
.example-container {
  flex: 1;
  margin: 0 10px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.explainer-container {
  padding: 0 10px;
}

@media (max-width: 768px) {
  .example-container {
    display: none;
  }
}
