name: Create Jira Ticket

on:
  pull_request:
    types: [opened]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      REPO_NAME: ${{ secrets.REPO_NAME }}
      REPO_OWNER: ${{ secrets.REPO_OWNER }}
      DOCS_GITHUB_TOKEN: ${{ secrets.DOCS_GITHUB_TOKEN }}
      REVIEWER: ${{ secrets.REVIEWER }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Create ticket and assign reviewer
        run: |
          cd utilities/create-docs-ticket && npm install && npm run start "${{ github.event.pull_request.title }}" ${{ github.event.pull_request.html_url }}
