name: Docs Bot Update on Main Branch Update

on:
  push:
    branches:
      - release-prod

jobs:
  call-webhook:
    runs-on: ubuntu-latest
    steps:
    - name: Call URL
      run: |
        curl -X POST -H "Content-Type: application/json" "https://website-api.hasura.io/docs-services/docs-server/bot/content-update?version=3&devToken=${{ secrets.DOCS_BOT_PROD_DEVTOKEN }}"
